@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

html {
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  font-family: "Montserrat";
  background-color: #e2e2e2;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 10px
    ),
    repeating-linear-gradient(#e0e1ff55, #aeb2ff);
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

h1 {
  margin: 0;
}

input {
  width: 400px;
  height: 50px;
  background: white;
  border: 2px solid rgb(0, 195, 255);
  box-sizing: border-box;
  border-radius: 25px;
}

.start-block,
.review-block,
.form-block {
  background-color: #d1d1d1;
}

.myvideo {
  display: none;
}

.wrapper {
  margin: 0 auto;
}

.start-block,
.ingrid-block,
.review-block,
.promo-block,
.form-block {
  width: 100%;
  height: 100vh;
}

.start-block,
.ingrid-block,
.review-block,
.promo-block,
.form-block,
.start-product-block {
  padding-top: 70px;
}

.ingrid,
.promo-list-block {
  margin-top: 40px;
}

.promo-product-block {
  margin-top: 120px;
}

.ingrid-name {
  margin-top: 20px;
}

.ingrid-img-block {
  margin-top: 150px;
}

.name-block,
.form-name-block {
  font-size: 58px;
  font-weight: bold;
  letter-spacing: 0.13em;
  color: darkgrey;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.start-product-img,
.form-product-img,
.ingrid-product-img {
  width: 20em;
  height: 30em;
  background: url(../images/prod.png);
  background-repeat: no-repeat;
  background-position: center 0;
}

.start-product-block,
.promo-product-block {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.start-product-list {
  align-self: center;
}

.ingrid-block,
.promo-product-block,
.promo-list,
.form-main-block {
  display: flex;
  justify-content: space-between;
}

.promo-descript {
  width: 40%;
}

.ingrid-img {
  width: 12em;
  height: 12em;
  background: url(../images/water.jpg);
  background-size: contain;
  border-radius: 50%;
}

.order-btn {
  font-size: 28px;
  padding: 1.5rem;
  border: 3px solid rgb(0, 195, 255);
  background-color: white;
  border-radius: 50px;
  transition: 0.2s;
  margin-top: 45px;
}

.order-btn:hover {
  color: rgb(0, 195, 255);
  background-color: rgb(238, 238, 238);
  transition: 0.2s;
}

.ingrid,
.promo-list-block,
.ingrid-img-block,
.start-product-list,
.form-order-block,
.form-timer-block,
.form-product-price {
  text-align: center;
}

.promo-img {
  width: 40%;
  height: 450px;
  background: url(../images/doctor.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.start-product-list,
.promo-list {
  font-size: 22px;
  font-style: italic;
}

.promo-descript,
.new-price,
.form-timer-block {
  font-size: 26px;
}

.ingrid-name,
.old-price {
  font-size: 18px;
  font-style: italic;
}

.form {
  display: flex;
  flex-direction: column;
}

.promo-list-block {
  text-align: center;
}

.custom-slider {
  position: relative;
}

.custom-slider > div {
  position: absolute;
}

.custom-slider,
.custom-slider > div {
  width: 100%;
}

.slide-img {
  width: 100%;
  height: 500px;
  background-image: url(../images/doctor.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 0;
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1140px;
  }
}

@media (max-width: 1199px) {
  .wrapper {
    width: 960px;
  }
}

@media (max-width: 991px) {
  .wrapper {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .wrapper {
    width: 100%;
  }
}
